.leftside {
  width: 400px;
  background-color: $main-color;
  color: #fff;
  padding: 30px;

  @include onSmartphone {
    width: 100%;
    padding-bottom: 0;
  }

  &__title,
  &__subtitle {
    display: none;

    @include onSmartphone {
      display: block;
      text-align: center;
    }
  }

  &__subtitle {
    margin-bottom: 22px;
  }

  &__img-container {
    width: 200px;
    height: 200px;
    border: 5px solid #fff;
    border-radius: 50%;
    background-color: white;
    margin: 0 auto 50px;
    overflow: hidden;
    transition: all $trans-duration;

    &:hover {
      border-radius: 30px;
      transform: scale(1.2);
    }
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: -35px;
  }

  &__section-title {
    margin-bottom: 16px;
  }

  &__info-list {
    margin-bottom: 50px;
  }

  &__info-item {
    margin-bottom: 16px;

    &--location {
      display: flex;
    }
  }

  &__item-title {
    margin-bottom: 4px;
  }

  &__info-link {
    color: inherit;
    &:hover {
      color: orange;
    }
  }

  &__project-link {
    display: flex;

    &::before {
      content: "";
      display: block;
      width: 5px;
      height: 5px;
      background-color: #fff;
      border-radius: 50%;
      margin-right: 10px;
      transform: translateY(6px);
    }
  }

  &__contact {
    display: flex;
    color: inherit;

    &:hover {
      color: orange;
    }

    &::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }

    &--linkedin {
      &::before {
        background: url("../images/linkedin.svg") no-repeat center;
      }

      &:hover {
        &::before {
          background: url("../images/linkedin-hover.svg") no-repeat center;
        }
      }
    }

    &--github {
      &::before {
        background: url("../images/github.svg") no-repeat center;
      }

      &:hover {
        &::before {
          background: url("../images/github-hover.svg") no-repeat center;
        }
      }
    }

    &--telegram {
      &::before {
        background: url("../images/telegram.svg") no-repeat center;
      }

      &:hover {
        &::before {
          background: url("../images/telegram-hover.svg") no-repeat center;
        }
      }
    }

    &--phone {
      &::before {
        background: url("../images/phone.svg") no-repeat center;
      }

      &:hover {
        &::before {
          background: url("../images/phone-hover.svg") no-repeat center;
        }
      }
    }

    &--envelope {
      &::before {
        background: url("../images/envelope.svg") no-repeat center;
      }

      &:hover {
        &::before {
          background: url("../images/envelope-hover.svg") no-repeat center;
        }
      }
    }

    &--location {
      margin-right: 3px;
      &::before {
        background: url("../images/location.svg") no-repeat center;
      }

      &:hover {
        &::before {
          background: url("../images/location-hover.svg") no-repeat center;
        }
      }
    }
  }
}
