.page {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #333;
  scroll-behavior: smooth;

  &__main {
    display: flex;

    @include onSmartphone {
      flex-direction: column;
    }
  }

  &__leftside {
    flex-shrink: 0.2;
  }
}
