.rightside {
  padding: 60px 50px 50px;

  @include onSmartphone {
    padding: 40px 30px;
  }

  &__title {
    color: $main-color;
  }

  &__subtitle {
    margin-bottom: 83px;
  }

  &__title,
  &__subtitle {
    @include onSmartphone {
      display: none;
    }
  }

  &__block-title {
    margin-bottom: 22px;
    color: $main-color;
  }

  &__block-text {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__block-subtitle {
    margin-bottom: 16px;
    margin-top: 22px;
  }

  &__block {
    margin-bottom: 50px;
  }

  &__info-contant {
    margin-bottom: 16px;
  }

  &__info-contant-title {
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__info-item {
    padding-left: 15px;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 5px;
      height: 5px;
      background-color: $main-color;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 6px;
    }
  }

  &__info-link {
    color: blue;
    text-decoration: underline;
  }

  &__subblocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin-top: -22px;
    margin-bottom: -16px;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
  }

  &__button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 60px;
    background-color: $main-color;
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;

    &:hover {
      border: 2px solid $main-color;
      background-color: #fff;
      color: $main-color;
    }
  }
}
